.homepage {
  height: 100vh;
  // background-image: url("blob-scene-haikei.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  z-index: 10;
  position: relative;
  // top: 0;
  // background-attachment: local;
}
.background {
  background-image: url("blob-scene-haikei.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.my_container {
  padding-top: 20px;
}

.ban-body {
  padding: 70px;
}

.ban-body h1 {
  font-family: "Manrope", sans-serif;
  font-size: 75px;
  font-weight: 600;
}

.ban-body p {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  padding-right: 250px;
}
.row_homepage {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  z-index: 10;
  position: relative;
}

u {
  color: rgb(115, 66, 138);
  text-decoration: none;
}

.animation img {
  width: 100%;
  padding-right: 50px;
}

.home_row {
  display: flex;
  justify-content: space-between;
}

.info {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 59px;
}

.info p {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.bottom-box {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  position: block;;
}

.bottom-box .animation {
  background-color: rgba(217, 211, 211, 0.8);
}

.bottom-body {
  text-align: right;
  margin-top: 50px;
  padding: 40px;
}
.bottom-body .btn-primary {
  background-color: rgb(120, 50, 119) !important;
  margin-top: 30px !important;
  border: none !important;
  color: white;
  // width: 50% !important;
}
