// Import page-specific CSS files here.
@import "home";

.background {
  background-image: url("blob-scene-haikei.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.index {
  width: 100%;
  height: 100vh;
  // background-image: url("blob-scene-haikei.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  z-index: 10;
  position: absolute;

}

.search {
  width: 96%;
  position: relative;
  display: flex;
  padding-top: 10px;
}

.searchTerm {
  width: 20rem;
  border: none;
  border-right: none;
  padding: 15px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: white;
  margin-left: 15px;
}

.searchTerm:focus {
  color: rgb(115, 66, 138);
}

.searchButton {
  width: 150px;
  height: 40px;
  border: 1px solid rgb(115, 66, 138);
  background: rgb(115, 66, 138);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchcat {

  width: 250px;
  height: 40px;
  border: 1px solid rgb(115, 66, 138);
  background: rgb(115, 66, 138);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;

}

#bar {
  background-color: rgb(115, 66, 138);
}
