// Import page-specific CSS files here.
@import "home";


.search {
  position: relative;
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  width: 64%;
}

.searchTerm {
  width: 20rem;
  border: none;
  border-right: none;
  padding: 15px;
  height: 40px;
  border-radius: 3px 0 0 3px;
  outline: none;
  background-color: white;
  font-size: 20px;
}

.searchTerm:focus {
  color: rgb(120, 50, 119);
}

.searchButton {
  width: 120px;
  height: 40px;
  border: none;
  background: white;
  text-align: center;
  color: rgb(120, 50, 119);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: 50px;
}

.searchcat {

  width: 250px;
  height: 40px;
  border: none;
  background: white;
  text-align: center;
  color: rgb(120, 50, 119);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: 15px;
}

#bar {
  padding-left: 20px !important;
  background-color: white;
  border-radius: 5px !important;
}

.container {
  padding: 0px !important;
}
