<div class="background"></div>
<div class="container">
  <div class="homepage" style="vertical-align: middle;">
    <div class="my_container">
    <div class="row">
      <div class="col-8">
        <div class="ban-body">
          <h1> Let’s make someone’s life better. <u>Together.</u> </h1>
          <p> Browse through our library of courses and coaching lessons. Learn valuable skills, for work, life and everything in between </p>
          <p> Become a coach to offer free coaching sessions to refugees. </p>
        </div>
      </div>
      <div class="col-4">
        <div class="animation">
          <%= image_tag("illustration.svg") %>
        </div>
      </div>
      <div class="col-8">
        <div class="info p-4 m-3 mb-5 rounded shadow-lg" style="width: 800px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 sticky-top">
        <%= render "shared/search_form_home" %>
      </div>
      <div class="col-8">
        <div class="info p-4 m-3 mb-5 rounded shadow-lg" style="width: 800px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="info p-4 m-3 mb-5 rounded shadow-lg" style="width: 800px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 m-3 mb-5 rounded shadow-lg" style="width: 800px;">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-box">
        <div class="col-6">
          <div class="animation">
            <%= image_tag("coach.svg") %>
          </div>
        </div>
        <div class="col-6">
          <div class="bottom-body">
            <h1> Let’s make someone’s life better. <u>Together.</u> </h1>
            <p> Browse through our library of courses and coaching lessons. Learn valuable skills, for work, life and everything in between </p>
            <p> Become a coach to offer free coaching sessions to refugees. </p>
            <%= link_to "Become a coach", "", class: "btn btn-lg btn-primary w-100 mt-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
