
<div class="container">
  <div class="homepage" style="vertical-align: middle;">
    <div class="row">

      <div class="col-8">
        <div class="ban-body">
          <h1> Let’s make someone’s life better. <u>Together.</u> </h1>
          <p> Browse through our library of courses and coaching lessons. Learn valuable skills, for work, life and everything in between </p>
          <p> Become a coach to offer free coaching sessions to refugees. </p>
        </div>
      </div>

      <div class="col-4">
        <div class="animation">
          <%= image_tag("illustration 2.svg") %>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 mb-5 rounded shadow-lg" style="width: 100%">
              <h1>What is a refugee?</h1>
              <p>Refugees are people who have fled war, violence, conflict or persecution and have crossed an international border to find safety in another country.</p>
        </div>
      </div>

      <div class="sticky-top col-4">
        <div class="search-widget">
          <%= render "shared/search_form_home" %>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 mb-5 rounded shadow-lg" style="width: 100%">
              <h1>26.6 million refugees </h1>
              <p> UNHCR most recently estimated that, by mid-2021, for the first time in recorded history, the number of people forcibly displaced is now 84 million, and over 26.6 million refugees.</p>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 mb-5 rounded shadow-lg" style="width: 100%">
              <h1>What is the 1951 Refugee Convention?</h1>
              <p> The 1951 Geneva Convention is the main international instrument of refugee law. The Convention clearly spells out who a refugee is and the kind of legal protection, other assistance and social rights he or she should receive from the countries who have signed the document. The Convention also defines a refugee’s obligations to host governments and certain categories or people, such as war criminals, who do not qualify for refugee status. The Convention was limited to protecting mainly European refugees in the aftermath of World War II, but another document, the 1967 Protocol, expanded the scope of the Convention as the problem of displacement spread around the world.</p>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 mb-5 rounded shadow-lg" style="width: 100%">
              <p> . </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bottom-box">

        <div class="col-6">
          <div class="animation">
            <%= image_tag("coach1.jpg") %>
          </div>
        </div>

        <div class="col-6">
          <div class="bottom-body">
            <h1> Let’s make someone’s life better. <u>Together.</u> </h1>
            <p> Browse through our library of courses and coaching lessons. Learn valuable skills, for work, life and everything in between </p>
            <p> Become a coach to offer free coaching sessions to refugees. </p>
            <%= link_to "Become a coach", new_user_registration_path, class: "btn btn-lg btn-primary w-100 mt-2" %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
