
<div class="container">
  <div class="homepage" style="vertical-align: middle;">
    <div class="row">

      <div class="col-8">
        <div class="ban-body">
          <p></p>
          <h1> Let’s make someone’s life better. <u>Together.</u> </h1>
          <p></p>
          <p> <strong>Coaching4life</strong> - the platform that connects those who would like to offer help and is looking for ways to do it, with people who need it the most.  </p>
        </div>
      </div>

      <div class="col-4">
        <div class="animation">
          <%= image_tag("illustration 2.svg") %>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 mb-5 rounded shadow-lg" style="width: 100%">
          <h1>26.6 million refugees </h1>
          <p> UNHCR most recently estimated that, by mid-2021, for the first time in recorded history, the number of people forcibly displaced is now 84 million, and over 26.6 million refugees.</p>
        </div>
      </div>

      <div class="sticky-top col-4">
        <div class="search-widget">
          <%= render "shared/search_form_home" %>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 mb-5 rounded shadow-lg" style="width: 100%">
          <h1></h1>
          <p>If you fled the war, conflict, ran from violence and life danger, and have to build a new life from scratch now, our platform might be able to help you.</p>
          <p><strong><u>Browse through our library</u></strong> of courses and coaching lessons. Get help and support, learn valuable skills, for work, life and everything in between.</p>
        </div>
      </div>

      <div class="col-8">
        <div class="info p-4 mb-5 rounded shadow-lg" style="width: 100%">
              <p><strong><u>One the other side, if you wanted to help</u></strong> in one way or another, but were not sure how you could do it. Our platform gives you the chance to offer your support on a <u>person to person basis</u>.</p>
              <p><strong><u>No need to register</u></strong> with local municipalities, NGO’s or charities. Here, on one side, you can look for help, one the side you can offer it. As simple as that.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bottom-box">

        <div class="col-6">
          <div class="animation">
            <%= image_tag("coach1.jpg") %>
          </div>
        </div>

        <div class="col-6">
          <div class="bottom-body">
            <h1> Let’s make someone’s life better. <u>Together.</u> </h1>
            <p> Browse through our library of courses and coaching lessons. Learn valuable skills, for work, life and everything in between. </p>
            <p> Become a coach to offer free coaching sessions to refugees. </p>
            <%= link_to "Become a coach", new_user_registration_path, class: "btn btn-lg btn-primary w-100 mt-2" %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
