
.navbar {
  background-color: transparent !important;
  z-index: 1000;
}
.navbar-lewagon {
  background-color: transparent !important;
  justify-content: space-between;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-brand {
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 600;
  font-size: 28px !important;
  color: rgb(63, 40, 75) !important;
}
.nav-item {
  color: rgb(50, 32, 59);
  margin-left: 20px;
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 400;
}
.nav-link {
  color: rgb(50, 32, 59) !important;
}
.nav-item :hover {
  color: rgb(77, 107, 158) !important;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.6) !important;
  border: 0px !important;
  width: 30px !important;
  border-radius: 2px !important;
  min-width: 120px !important;
}
.dropdown-item{
  color: rgb(50, 32, 59) !important;
}

.nav-item .dropdown {
  font-size: 36px;
}
