
.navbar {
  background-color: transparent !important;
  z-index: 1000;
}
.navbar-lewagon {
  background-color: transparent !important;
  justify-content: space-between;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-brand {
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 600;
  font-size: 28px !important;
  color: rgb(63, 40, 75) !important;
}
.nav-item {
  color: rgb(50, 32, 59);
  margin-left: 20px;
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 400;
}
.nav-link {
  color: rgb(50, 32, 59) !important;
}
.nav-item :hover {
  color: rgb(77, 107, 158) !important;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 0px !important;
  width: 30px !important;
  border-radius: 2px !important;
  min-width: 120px !important;
  & :hover {
    background-color: rgba(255, 255, 255, 0);
  }
}
.dropdown-item {
  color: rgb(50, 32, 59) !important;
}
.dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-item .dropdown {
  font-size: 36px;
}

.sticky-top {
  position: sticky;
  top: 84px;
}

#sticky-navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: 0.6s;
}

.sticky {
  background-color: rgba(101, 74, 115, 0.9) !important;
  padding: 4px 75px;
  .nav-item {
    color: rgb(255, 255, 255) !important;
  }

  .nav-link {
    color: rgb(255, 255, 255) !important;
  }
  .navbar-brand {
    color: rgb(255, 255, 255) !important;
  }
  .nav-item :hover {
    color: rgb(132, 143, 159) !important;
  }
}
