.btn-primary {
    background-color: rgb(120, 50, 119) !important;
    border: none !important;
    color: white;
    width: 75%;
  }

  .searchTerm {
    margin: 4px;
    color:rgb(43, 18, 73);
    border-style:inherit;
    border-color: rgb(80, 82, 94);
    border-width: 1px;
    border-radius: 2px;
    width: 75%;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    padding: 4px;
  }

  .home-search {
    background-color: rgba(255, 255, 255, 0.8);
  }
